
  /*MOBILE MODE*/


  body {
    background-color: #E3C376;
    min-width: 320px;
    min-height: 400px;
  }

  header {
    display: flex;
    text-align: left;
    margin: auto;
    width: 320px;
  }

  .container {
    margin: auto;
  }

  .header {
    margin: auto;
  }

  .main-title {
    font-family: 'Righteous', cursive;
    color: #982020;
    font-size: 48px;
    padding-left: 5%;
    padding-top: 10px;
    text-shadow: 1px 1px black;
    margin: auto;
    margin-left: 5%;
  }

  .logo {
    width: 100px;
    height: 90px;
    padding-top: 30px;
    margin: auto;
    margin-right: 15%;
  }

  .sub-title {
    font-size: 14px;
    font-family: 'Lobster', cursive;
    color: #DB5825;
    text-shadow: .5px .5px #4A4949;
    width: 270px;
    text-align: center;
    margin: auto;
  }

  .sub-header {
    margin: auto;
  }

  #user-input {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
  }

  input {
    text-align: center;
    background-color: #E3C376;
    border: none;
    border-bottom: 5px dotted white;
    outline: none;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    color: #553619;
    width: 80%;
  }

  button {
    background-color: #EE860C;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Lobster', cursive;
    font-size: 14px;
    border: 1.5px #553619 solid;
    border-radius: 10%;
    margin-top: 20px;
    outline-color: white;
    margin-bottom: 12%;
    margin-left: 2%;
  }

  #placeholder {
    width: 800px;
  }

  #results {
    width: 320px;
    text-align: left;
    margin-left: 5%;
    padding-top: 20px;
  }

  #results p {
    width: 400px;
    font-family: 'Patua One', cursive;
    color: #6A1111;
    font-weight: bold;
    padding-left: 2%;
    margin-top: 10px;
    font-size: 14px;
    text-shadow: .5px .5px white;
  }

  #track-art {
    border-radius: 100%;
    margin-left: 30%;
  }


  /*TABLET MODE*/


  @media screen and (min-width: 545px) and (max-width: 768px) {


  .main-title {
    font-size: 56px;
    padding-top: 55px;
  }

  header {
    display: flex;
    width: 600px;
  }

  .header {
    margin: auto;
  }

  .sub-title {
    font-size: 17px;
  }

  input {
    float: left;
    margin-top: 18px;
    font-size: 27px;
    width: 60%;
    margin-left: 10%;
  }

  button {
    font-size: 18px;
    margin-right: 10%;
    border-width: medium;
  }

  #user-input {
    padding-top: 5%;
    width: 90%;
  }

  #placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
  }

  #results {
    width: 320px;
    height: 250px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #results p {
    width: 320px;
  }

}


/*DESKTOP MODE*/


  @media screen and (min-width: 769px) {


  .main-title {
    font-size: 56px;
    padding-top: 55px;
  }

  header {
    display: flex;
    width: 600px;
  }

  .header {
    margin: auto;
  }

  .sub-title {
    font-size: 17px;
  }

  input {
    float: left;
    margin-top: 22px;
    font-size: 30px;
    width: 50%;
    margin-left: 20%;
  }

  button {
    font-size: 18px;
    margin-right: 10%;
    border-width: medium;
  }

  #user-input {
    padding-top: 5%;
    width: 90%;
  }

  #placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 1130px;
  }

  #results {
    width: 320px;
    height: 250px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #results p {
    width: 320px;
  }

}
