
  /*MOBILE MODE*/

  body {
    background-color: #E3C376;
  }

  .container {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .main-title {
    font-family: 'Righteous', cursive;
    color: #982020;
    text-shadow: 2px 2px black;
  }

  .sub-title {
    font-size: 14px;
    font-family: 'Lobster', cursive;
    color: #DB5825;
    text-shadow: 1px 1px #4A4949;
  }

  #user-input {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  input {
    text-align: center;
    background-color: #E3C376;
    border: none;
    border-bottom: 5px dashed white;
    outline: none;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    color: #553619;
    width: 80%;
  }

  button {
    background-color: #EE860C;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: 'Lobster', cursive;
    font-size: 14px;
    border: 1.5px #553619 solid;
    border-radius: 10%;
    margin-top: 20px;
    outline: none;
    margin-bottom: 12%;
    margin-left: 2%;
    cursor: pointer;
  }

  button:hover {
    font-size: 20px;
  }

  #placeholder {
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
  }

  #results {
    width: 20vw;
    padding-top: 20px;
    text-align: center;
    background-image: url('leather-background.jpg');
    background-size: cover;
    border-radius: 5%;
    border: 4px dashed #D8AE0E;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #results p {
    display: block;
    width: 340px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Poppins', cursive;
    color: #E6E6E6;
    font-weight: bold;
    padding-left: 2%;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    text-shadow: 2px 2px black;
  }

  .title {
    padding-left: 20px;
    width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -10px;
  }

  .userName {
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -60px;
  }

  #track-art {
    border-radius: 100%;
    margin: auto;
    border: 3px solid #D8AE0E;
    box-shadow: 2px 2px black;
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  #track-art:hover {
    width: 120px;
    margin-top: -40px;
  }

  .main-title {
    font-size: 5vw;
    margin-top: 40px;
    width: 32vw;
    margin: auto;
    padding-right: 10px;
    padding-top: 40px;
  }

  .sub-title {
    font-size: 1.7vw;
    margin: auto;
    text-align: center;
  }

  header {
    display: flex;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
  }

  .logo {
    width: 9vw;
    height: 9vw;
    margin-top: 20px;
    margin-left: -140px;
    margin-right: 120px;
  }

  input {
    font-size: 34px;
    width: 40%;
    margin-top: 73px;
  }

  button {
    font-size: 18px;
    border-width: medium;
    margin-bottom: 5px;
  }

  #user-input {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

  #placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin: auto;
    margin-top: 100px;
  }

  #results {
    width: 25vw;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 1%;
    margin-left: 1%;
  }

  #results p {
    width: 22vw;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
  }

  .title {
    padding-left: 20px;
  }

  .userName {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  #music-player {
    width: 22vw;
    cursor: pointer;
  }

  @media screen and (min-width: 1161px) {

  .logo {
    margin-left: -130px;
    margin-right: 110px;
  }

  #placeholder {
    width: 85vw;
  }

  }

  @media screen and (min-width: 995px) and (max-width: 1160px) {

  .logo {
    margin-left: -120px;
    margin-right: 100px;
  }

  #results {
    width: 30vw;
  }

  }

  @media screen and (max-width: 994px) {

  .logo {
    margin-left: -120px;
    margin-right: 80px;
  }

  #results {
    width: 35vw;
  }

  }
