
  /*MOBILE MODE*/


  body {
    background-color: #E3C376;
    text-align: center;
    min-width: 320px;
    min-height: 400px;
  }

  header {
    display: flex;
    text-align: left;
    padding-bottom: 5%;
    margin: auto;
    width: 320px;
  }

  .main-title {
    font-family: 'Righteous', cursive;
    color: #982020;
    font-size: 48px;
    padding-left: 5%;
    padding-top: 5%;
    text-shadow: center;
  }

  .logo {
    width: 100px;
    height: 90px;
    padding-top: 24%;
    margin-right: 15%;
  }

  #user-input {
    width: 350px;
    padding-top: 5%;
    margin: auto;
  }

  input {
    text-align: center;
    background-color: #E3C376;
    border: none;
    border-bottom: 5px dotted white;
    margin-right: 3%;
    outline: none;
    font-family: 'Lobster', cursive;
    font-size: 26px;
    color: #553619;
    width: 40vw;
  }

  button {
    background-color: #EE860C;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Lobster', cursive;
    font-size: 14px;
    border: 1.5px #553619 solid;
    border-radius: 10%;
    margin-top: 5%;
    outline-color: white;
    margin-bottom: 15%;
  }

  #results {
    width: 320px;
    text-align: left;
  }

  #results p {
    width: 320px;
    font-family: 'Bree Serif', serif;
    color: #553619;
    text-shadow: .5px .5px white;
    padding-left: 2%;
  }

  .track-art {
    border-radius: 100%;
    margin-left: 30%;
  }


  /*TABLET MODE*/


  @media screen and (min-width: 545px) {

  .main-title {
    font-size: 56px;
  }

  header {
    display: flex;
    width: 600px;
  }

  .logo {
    padding-top: 8%;
  }

  input {
    margin-top: -25%;
    width: 60vw;
    margin: auto;
    font-size: 37px;
  }

  button {
    margin: auto;
    margin-top: 5%;
    font-size: 18px;
  }

  #user-input {
    width: 460px;
  }

  #placeholder {
    display: flex;
    width: 800px;
  }

  #results {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }




}
